@model List<TND.Models.Designation>
@{
    ViewBag.Title = "Tabels_Desig";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>TABLES-DESIGNATION</title>
</head>
<body>
    <div class="container-scroller">

        <div class="container-fluid page-body-wrapper">

            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">

                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title" style="color:#36332b;">Designation Table</h4>
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered" style="color:#36332b;">
                                            <thead>
                                                <tr style="background-color:#6e9fcc;color:white;text-align:center;">
                                                    <th>No.</th>
                                                    <th>Designation_ID</th>
                                                    <th>Designation_Name</th>
                                                    <th>Modify</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int no = 0;
                                                    foreach (var s in Model)
                                                    {
                                                        no++;
                                                        <tr>
                                                            <td>@no</td>
                                                            <td> @s.Designation_ID</td>
                                                            <td>@s.Designation_Name</td>
                                                            <td  style="text-align:center;">@Html.ActionLink("Delete", "DesigDelete", new { did = @s.Designation_ID }, new { @class = "btn btn-inverse-dark btn-fw" })</td>

                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



